#board {
    border: 2px solid black;
    padding: 2px;
    height: 620px;
    width: 311px;
}

.board-line {
    margin: 0;
    padding: 0;
    height: 31px
}

.board-cell {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0.5px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    /* border: 1px solid black; */
}

.board-cell-color-none { background-color: #777777; }
.board-cell-color-lightblue { background-color: lightblue; }
.board-cell-color-yellow { background-color: yellow; }
.board-cell-color-purple { background-color: purple; }
.board-cell-color-blue { background-color: blue; }
.board-cell-color-orange { background-color: orange; }
.board-cell-color-green { background-color: green; }
.board-cell-color-red { background-color: red; }

.board-cell-color-mono { background-color: #333333; }